html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, #f6f7fc 0%, #d5e1e8 40%);
    transform-style: preserve-3d;
    transform: perspective(900px);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 26px;
}

a:link { text-decoration: none;}
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.header {
    /* background: url("../images/header.png") round; */
    background-size: cover;
    position: absolute;
    height: 170px;
    width: 100%;
}

.header__signs {
    display: none;
    background: url("../images/box.svg");
    position: relative;
    width: 224px;
    height: 59px;
    top: 50%;
    left: 100%;
    margin-left: -274px;
    margin-top: -50px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.15));
}

.header__signs span {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(270deg, rgba(21, 152, 139, 1), rgba(224, 53, 70, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header__signs:hover {
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.33));
    }

.logo {
    width: 318px;
    height: 240px;
    background-image: url("../images/background.png");
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -139px;
    border-radius: 5px;
    filter: drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.15));
    overflow: hidden;
}

.logo [class*='layer-'] {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: 0.1s;
}

.layer-1 {
    background-image: url("../images/logo-name.svg");
    filter: blur(5px);
    opacity: 0.4;
    z-index: 3;
    background-size: 50% !important;
    background-position: center !important;
}

.layer-2 {
    background-image: url("../images/logo-name.svg");
    z-index: 3;
    background-size: 50% !important;
    background-position: center !important;
}

.subtitle {
    width: 232px;
    height: 106px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-left: -115px;
    /* filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 0.33)); */
}

.subtitle__code {
    font-family: monospace, monospace;
    font-size:32px;
    text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -110px;
    margin-top:-4px;
    color:gray;
}

.subtitle__code:hover {
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.33));
    }

.hidden {
  opacity:0;
}

.console-underscore {
   display:inline-block;
  position:relative;
  top: -5px;
left: -17px;
}

.subtitle__amp {
    color: #969C91;
    position: absolute;
    top: 50%;
    left: 50%;
}

.subtitle__design {
    width: 140px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 32px;
margin-top: -12px;
}
.subtitle__design:hover {
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.33));
    }
#subtitle__design-drawing {
    position: absolute;
    width: 126px;
    height: 78px;
}

.arrows {
    display: none;
    width: 88px;
    height: 58px;
    background-image: url(../images/arrows.svg);
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -29px;
    margin-top: -83px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.13));
}
.arrows:hover {
    filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 0.33));
    }
